.escritores{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.escritor{
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}
.escritor-img img {
    width: 100%;
    height: 80%;
}
.escritor-info{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}